.map-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 997;
}

.leaflet-control-attribution {
  height: 1rem;
}

.leaflet-control-container .leaflet-control-attribution,
.leaflet-control-container .leaflet-control-attribution a {
  background: var(--shadow);
  color: var(--white);
}

.leaflet-control-zoom {
  height: auto;
  position: absolute;
  bottom: 2rem;
  left: 0.5rem;
  z-index: 1500;
}
