.sidebar-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 4%;
  z-index: 999;
}

.menu-open {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

h2 {
  height: fit-content;
  margin: 2rem 0;
}

.menu-button {
  height: 5rem;
}

.menu-open {
  width: 100%;
  max-width: 250px;
}

.menu-items {
  height: 2rem;
  left: -4rem;
}
